
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

/* Main heading */
h1 {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    margin: 0;
}

/* Subtitle */
p {
    font-size: 18px;
    color: #333;
}

/* Section title */
h2 {
    margin-top: 30px;
    color: #1e3a8a;
}

/* Course list */
ul {
    list-style: none;
    padding: 0;
}

/* Each item */
li {
    background: rgb(96, 127, 134);
    margin: 15px auto;
    padding: 15px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 18px;
}
li:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
}

a:hover {
    color: #b87b21;
}
.lesson {
    background: white;
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
}

.lesson h3 {
    color: #1e3a8a;
}
button {
    background-color: #1e3a8a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2563eb;
}
button {
    background-color: #1e3a8a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #2563eb;
}

